*.Makefile
*.ninja
*.pyc
*.target.mk
*.xcodeproj
*~
.*.sw?
.DS_Store
.gdb_history
.gdbinit
/Makefile
/out
/third_party/gtest/gtest
/third_party/gyp/gyp
/third_party/llvm
/third_party/mini_chromium/mini_chromium
/third_party/zlib/zlib
/xcodebuild
tags
