[access]
	inheritFrom = crashpad
[access "refs/for/refs/heads/doc"]
	push = group crashpad-owners
	pushMerge = group crashpad-owners
[access "refs/heads/*"]
	submit = group chrome-commit-bot
	label-Commit-Queue = 0..+2 group crashpad-committers
	labelAs-Commit-Queue = 0..+2 group chrome-commit-bot
[notify "crashpad-dev"]
	email = crashpad-dev@chromium.org
	type = all_comments
	type = submitted_changes
	header = cc
[project]
	description = A crash-reporting system
[submit]
	action = cherry pick
