[project]
	description = A crash-reporting system
[access]
	inheritFrom = crashpad
[submit]
	action = cherry pick

[label "Commit-Queue"]
	abbreviation = CQ
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock

[access "refs/for/refs/*"]
	addPatchSet = group crashpad-scoped@luci-project-accounts.iam.gserviceaccount.com
[access "refs/heads/*"]
	label-Commit-Queue = +0..+2 group Logged-in Public Users
	labelAs-Commit-Queue = +0..+2 group crashpad-scoped@luci-project-accounts.iam.gserviceaccount.com
	labelAs-Commit-Queue = group Logged-in Public Users
	submit = group crashpad-scoped@luci-project-accounts.iam.gserviceaccount.com
[access "refs/for/refs/heads/doc"]
	push = group crashpad-owners
	pushMerge = group crashpad-owners

[notify "crashpad-dev"]
	header = cc
	email = crashpad-dev@chromium.org
	type = all_comments
	type = submitted_changes
[access "refs/heads/master"]
	exclusiveGroupPermissions = push submit
