[access]
	inheritFrom = crashpad
[access "refs/for/refs/heads/doc"]
	push = group crashpad-owners
	pushMerge = group crashpad-owners
[submit]
	action = cherry pick
[notify "crashpad-dev"]
	email = crashpad-dev@chromium.org
	type = all_comments
	type = submitted_changes
	header = cc
[access "refs/meta/config"]
	push = group crashpad-owners
